<div class="exp-square {{#if this.level}}exp-square-level{{/if}} waves-effect waves-light" style="{{{expBoxStyle this}}}">
    {{#if this.initial}}
        <i class="ra ra-cancel tooltipped" data-tooltip="Initial Experience" data-position="top"></i>
    {{else}}
        {{#if this.spent}}
            <i class="fa-solid fa-check tooltipped" data-tooltip="Level Up already selected." data-position="top"></i>
        {{else}}
            {{#if this.earned}}
                {{#if this.level}}
                    <a href="#popouts-modal" class="modal-trigger tooltipped" data-tooltip="Level Up Available! Click to spend level." data-position="top" data-popout="/members/member/{{member}}/event/levelup?experience={{experience}}" title="Level Up">
                        <i class="ra ra-hospital-cross"></i>
                    </a>
                {{else}}
                    <i class="fa-solid fa-check"></i>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
</div>