<div class="{{#if col}}col {{col}}{{/if}}">
    <div class="input-field">
        <input id="{{name}}" name="{{name}}" type="{{type}}" {{#if required}}required{{/if}} value="{{value}}">
        <label for="{{name}}">{{label}}</label>
    </div>
</div>