<div class="{{#if col}}col {{col}}{{/if}}">
    <div class="input-field">
        <input {{#if advance}}style="color: green;"{{/if}} id="{{name}}" name="{{name}}" type="{{type}}" {{#if required}}required{{/if}} value="{{value}}" {{#if disabled}}disabled{{/if}}>
        <label for="{{name}}">{{label}} {{#if advance}}<i class="fas fa-angles-up"></i>{{/if}}</label>
    </div>
</div>