<div class="section">
<h3>Campaign</h3>
<p>ID: {{campaign._id}}</p>
<p>Data: {{campaign}}</p>
<p>Created At: {{campaign.createdAt}}</p>
</div>

<div class="row">
    <div class="col-8 col-md-8">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Players</span>
                <p>Manage players in your campaigns.</p>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Player</span>
                <form id="create-campaign-form" data-method="PATCH" action="/campaigns/campaign/{{campaign._id}}">
                    <div class="input-field">
                        <select id="player" name="player" required>
                            <option value="" disabled selected>Choose player</option>
                            {{#each playersList}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="player">Player</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Add Player</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="striped responsive-table" id="items-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
        <tr>
            <td>{{{link this.name (concat '/players/player/' this._id)}}}</td>
            <td>{{formatDateTime this.createdAt}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>