<div class="section">
<h3>Campaign</h3>
<p>ID: {{campaign._id}}</p>
<p>Data: {{campaign}}</p>
<p>Created At: {{campaign.createdAt}}</p>
</div>

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Roster</span>
                <form id="create-campaign-form" data-method="PATCH" action="/campaigns/campaign/{{campaign._id}}">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="input-field">
                                <select id="roster" name="roster" required>
                                    <option value="" disabled selected>Choose roster</option>
                                    {{#each rostersList}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                                <label for="roster">Roster</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">Add Roster</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="striped responsive-table" id="items-table">
    <thead>
    <tr>
        <th>Roster</th>
        <th>Rating</th>
        <th>Gold Value</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    {{#each rosters}}
        <tr>
            <td>{{{link this.name (concat '/rosters/roster/' this._id)}}}</td>
            <td>{{this.wealth.rating}}</td>
            <td>{{this.wealth.gold}}</td>
            <td>{{formatDateTime this.createdAt}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>