<a href="/rosters/roster/{{member.roster._id}}">&larr; {{member.roster.name}}</a>
<div class="row">
    <div class="col s9 m9">
        <div class="card">
            <form id="member-name-form" data-method="PATCH" action="/members/member/{{member._id}}">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <div
                                style="width:100%; height:155px; display:flex; align-items:center; justify-content:center; background:#e3f2fd;">
                                <i class="ra ra-double-team" style="font-size:28px; color:#1565c0"></i>
                            </div>
                            <div style="margin-top:8px; text-align:center">
                                <div class="grey-text text-darken-1">
                                    {{#each units}}
                                    {{#ifCond this._id '==' ../member.unit._id}}<div value="{{this._id}}">{{this.name}}
                                    </div>{{/ifCond}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col s9">
                            <div style="flex-grow:1">
                                <div class="row" style="margin-bottom:0;">
                                    <div class="col s2">
                                        <div class="input-field">
                                            <input id="qty" name="qty" type="number" value="{{member.qty}}" min="1"
                                                required>
                                            <label for="qty" class="active">Quantity</label>
                                        </div>
                                    </div>
                                    <div class="col s2">
                                        <span class="card-title" style="margin:0">
                                            <div class="input-field">
                                                <input id="type" type="text" value="{{formatUnitType member.unit.type}}"
                                                    disabled>
                                                <label for="type" class="active">Type</label>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col s6">
                                        <span class="card-title" style="margin:0">
                                            <div class="input-field">
                                                <input id="name" name="name" type="text" value="{{member.name}}"
                                                    required>
                                                <label for="name" class="active">Name</label>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col s2">
                                        <span class="card-title" style="margin:0">
                                            <div class="input-field">
                                                <input id="status" type="text" value="{{formatStatus member.status}}"
                                                    disabled>
                                                <label for="status" class="active">Status</label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s1">
                            {{> stat_square label="M" value=member.unit.m improved=member.unit.advance.m}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="WS" value=member.unit.ws improved=member.unit.advance.ws}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="BS" value=member.unit.bs improved=member.unit.advance.bs}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="S" value=member.unit.s improved=member.unit.advance.s}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="T" value=member.unit.t improved=member.unit.advance.t}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="W" value=member.unit.w improved=member.unit.advance.w}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="I" value=member.unit.i improved=member.unit.advance.i}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="A" value=member.unit.a improved=member.unit.advance.a}}
                        </div>
                        <div class="col s1">
                            {{> stat_square label="LD" value=member.unit.ld improved=member.unit.advance.ld}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <div class="input-field">
                                <input id="rating" name="rating" type="number" value="{{member.wealth.rating}}"
                                    disabled>
                                <label for="rating" class="active">
                                    <i class="ra ra-podium"></i> Rating
                                </label>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="input-field">
                                <input id="gold" name="gold" type="number" value="{{member.wealth.gold}}" disabled>
                                <label for="gold" class="active">
                                    <i class="ra ra-gold-bar"></i> Gold (Total Value)
                                </label>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="input-field">
                                <input id="experience" name="experience" type="number"
                                    value="{{member.unit.experience}}" disabled> </input>
                                <label for="experience" class="active">
                                    <i class="ra ra-muscle-up"></i> Experience (Starting)
                                </label>
                            </div>
                        </div>
                        <div class="col s3">
                            <button href="#popouts-modal" class="modal-trigger btn-small"
                                data-popout="/members/member/{{member._id}}/event/gainresource">
                                <i class="fa fa-square-up"></i>
                                GAIN EXPERIENCE
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{#each member.expLevels}}
                            {{> exp_widget exp=this member=../member/_id experience=@index
                            currentExp=../member.wealth.experience}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:0">
                        <div class="col s12">
                            <div class="input-field">
                                <textarea id="description" name="description" class="materialize-textarea" rows="2"
                                    style="min-height:48px">{{member.description}}</textarea>
                                <label for="description" class="active">Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <row>
                            {{#each member.items}}
                            {{> item this member=../member._id }}
                            {{/each}}
                            </row>
                        </div>
                    </div>
                    <span class="grey-text text-darken-1" style="margin-right:12px">
                        Last updated:
                        {{formatDateTime member.updatedAt}}
                    </span>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row" style="margin-bottom:0">
                        <div class="col s8">
                            <div class="btn-area">
                                <button href="#popouts-modal" class="modal-trigger btn-small"
                                    data-popout="/members/member/{{member._id}}/inventory">
                                    <i class="ra ra-round-shield"></i>
                                    Inventory
                                </button>
                                <button href="#popouts-modal" class="modal-trigger btn-small red"
                                    data-popout="/members/member/{{member._id}}/history?type=injuries">
                                    <i class="ra ra-droplet"></i>
                                    Injuries
                                </button>
                            </div>
                        </div>
                        <div class="col s4 right-align">
                            <div class="btn-area">
                                <a href="/members/member/{{member._id}}" data-method="delete" id="delete-member-btn"
                                    class="btn-small waves-effect waves-light red" title="Refund member">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a href="/members/member/{{member._id}}/status?status=3" data-method="patch"
                                    id="delete-member-btn" class="btn-small waves-effect waves-light red"
                                    title="Kill member">
                                    <i class="ra ra-tombstone"></i>
                                </a>
                                <button class="btn-small waves-effect waves-light" type="submit">
                                    <i class="ra ra-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Unit Skills</span>
                {{#each member.unit.traits}}
                <div style="margin-bottom:8px">
                    <a href="/traits/trait/{{_id}}">{{name}}</a>
                    <div class="grey-text text-darken-1" style="font-size:0.9em">{{description}}</div>
                </div>
                {{/each}}
            </div>
            <div class="card-content">
                <span class="card-title">Earned Skills</span>
                {{#each member.traits}}
                <div style="margin-bottom:8px">
                    <a href="/traits/trait/{{_id}}">{{name}}</a>
                    <div class="grey-text text-darken-1" style="font-size:0.9em">{{description}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Events</span>
                <table class="striped responsive-table tight-rows" id="items-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each events}}
                        <tr>
                            <td>{{formatEventType type}} (Exp: {{wealth.experience}})</td>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td class="center-align">
                                <a href="/events/event/{{_id}}" class="tooltipped" data-method="delete"
                                    data-tooltip="Delete event" data-position="top" title="Level Up">
                                    <i class="fa fa-trash red-text"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.exp-square-unearned');
        console.log(elems);

        elems.forEach(function (elem, index) {
            elem.addEventListener('mouseover', function () {
                console.log('hovered');

                elem.classList.add('green');

                elems.forEach(function (e, i) {
                    if (i <= index) {
                        e.classList.add('green');
                    }
                });
            });

            elem.addEventListener('mouseout', function () {
                console.log('unhovered');

                elem.classList.remove('green');
                elems.forEach(function (elem) {
                    elem.classList.remove('green');
                });
            });
        });
    });
</script>