<a href="/rosters/roster/{{member.roster._id}}">&larr; {{member.roster.name}}</a>
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <form id="member-form" data-method="PATCH" action="/members/member/{{member._id}}">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <div style="height:200px; display:flex; align-items:center; justify-content:center; background:#f9f9f9; border-radius:8px; margin-right:8px; padding: 8px;">
                                {{!-- <img src="/images/avatar.jpg" alt="Member Avatar" style="max-width: 100%; max-height: 100%; border-radius: 8px;"> --}}
                                <div style="height: 100%; width: 100%; background:#e3f2fd; border-radius:8px; display:flex; align-items:center; justify-content:center;">
                                    <i class="fa fa-person" style="font-size:100px; color:#1565c0"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col s9" style="margin-left: 0; background: #f9f9f9; border-radius: 8px; padding: 8px;">
                            <div style="flex-grow:1;">
                                <div class="row" style="margin-bottom:0;">
                                    <div class="col s8">
                                        <span class="card-title" style="margin:0">
                                            <div class="input-field">
                                                <input id="name" name="name" type="text" value="{{member.name}}" required>
                                                <label for="name" class="active">Name</label>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col s2">
                                        {{> value_square label="Gold" value=member.wealth.gold}}
                                    </div>
                                    <div class="col s2">
                                        {{> value_square label="Rating" value=member.wealth.rating}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="border-bottom">
                                    <div>
                                        {{#ifCond member.unit.type '==' '1'}}
                                            {{member.unit.name}} <span class="grey-text">({{formatUnitType member.unit.type}}) - {{formatStatus member.status}}</span>
                                        {{else}}
                                            {{member.qty}} x {{member.unit.name}} <span class="grey-text">({{formatUnitType member.unit.type}})</span>
                                        {{/ifCond}}
                                    </div>
                                </div>
                                {{> stat_square label="M" value=member.unit.m improved=member.unit.advance.m}}
                                {{> stat_square label="WS" value=member.unit.ws improved=member.unit.advance.ws}}
                                {{> stat_square label="BS" value=member.unit.bs improved=member.unit.advance.bs}}
                                {{> stat_square label="S" value=member.unit.s improved=member.unit.advance.s}}
                                {{> stat_square label="T" value=member.unit.t improved=member.unit.advance.t}}
                                {{> stat_square label="W" value=member.unit.w improved=member.unit.advance.w}}
                                {{> stat_square label="I" value=member.unit.i improved=member.unit.advance.i}}
                                {{> stat_square label="A" value=member.unit.a improved=member.unit.advance.a}}
                                {{> stat_square label="LD" value=member.unit.ld improved=member.unit.advance.ld}}
                                {{> stat_square label="Sv" value=member.unit.sv improved=member.unit.advance.sv}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <small class="grey-text text-darken-1">Experience</small>
                        <div class="col s12">
                            {{#each member.expLevels}}
                            {{> exp_widget exp=this member=../member/_id experience=@index currentExp=../member.wealth.experience}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6" style="border-radius: 8px;">
                            <small class="grey-text text-darken-1">Inventory</small>
                            <div class="row">
                                {{#each member.items}}
                                {{> item this member=../member index=@index}}
                                {{/each}}
                                <div class="col s6" style="margin-bottom:8px;"></div>
                                <div class="col s6" style="margin-bottom:8px;">
                                    <div class="btn-area" style="margin-top:4px; text-align:right;">
                                        <button href="#popouts-modal" class="modal-trigger btn-small" data-popout="/members/member/{{member._id}}/inventory">
                                            {{!-- <i class="ra ra-round-shield"></i> --}}
                                            Add Item
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6" style="border-radius: 8px;">
                            <small class="grey-text text-darken-1">Skills</small>
                            <div class="border-bottom"></div>
                            {{#each member.unit.traits}}
                                {{> skill skill=this}}
                            {{/each}}
                            {{#each member.traits}}
                                {{> skill skill=this}}
                            {{/each}}
                        </div>
                        <div class="col s6" style="border-radius: 8px;">
                            <small class="grey-text text-darken-1">Injuries</small>
                            <div class="border-bottom"></div>
                            {{#each injuries}}
                                <div style="margin-bottom:8px">
                                    <div>
                                        <a href="/events/event/{{_id}}">{{this.details.label}}</a> <small class="grey-text text-darken-1" style="float:right;">Result: {{this.details.value}}</small>
                                    </div>
                                    <div class="grey-text text-darken-1" style="font-size:0.9em">{{this.details.description}}</div>
                                </div>
                            {{/each}}
                            <div class="col s6" style="margin-bottom:8px;"></div>
                            <div class="col s6" style="margin-bottom:8px;">
                                <div class="btn-area" style="margin-top:4px; text-align:right;">
                                    <div class="btn-area" style="margin-top:4px;">
                                        <button href="#popouts-modal" class="modal-trigger btn-small red" data-popout="/members/member/{{member._id}}/event/injury">
                                            {{!-- <i class="ra ra-droplet"></i> --}}
                                            Add Injury
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:0">
                        <div class="col s12">
                            <div class="input-field">
                                <textarea id="description" name="description" class="materialize-textarea" rows="2"
                                    style="min-height:48px">{{member.description}}</textarea>
                                <label for="description" class="active">Description</label>
                            </div>
                        </div>
                    </div>
                    <span class="grey-text text-darken-1" style="margin-right:12px">
                        Last updated:
                        {{formatDateTime member.updatedAt}}
                    </span>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row" style="margin-bottom:0">
                        <div class="col s8">
                            <div class="btn-area">
                                <button href="#popouts-modal" class="modal-trigger btn-small"
                                    data-popout="/members/member/{{member._id}}/inventory">
                                    <i class="ra ra-round-shield"></i>
                                    Inventory
                                </button>
                            </div>
                        </div>
                        <div class="col s4 right-align">
                            <div class="btn-area">
                                <a href="/members/member/{{member._id}}" data-method="delete" id="delete-member-btn"
                                    class="btn-small waves-effect waves-light red" title="Refund member">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a href="/members/member/{{member._id}}/status?status=3" data-method="patch"
                                    id="delete-member-btn" class="btn-small waves-effect waves-light red"
                                    title="Kill member">
                                    <i class="ra ra-tombstone"></i>
                                </a>
                                <button class="btn-small waves-effect waves-light" type="submit">
                                    <i class="ra ra-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Events</span>
                <table class="striped tight-rows" id="items-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Notes</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each events}}
                        <tr>
                            <td>{{formatEventType type}}</td>
                            <td>
                                {{#if details}}
                                    {{#if details.label}}
                                        {{details.label}}
                                    {{/if}}
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </td>
                            <td>
                                {{description}}
                            </td>
                            <td>{{formatDateTime createdAt}}</td>
                            <td class="center-align">
                                <a href="/events/event/{{_id}}" class="tooltipped" data-method="delete"
                                    data-tooltip="Delete event" data-position="top" title="Level Up">
                                    <i class="fa fa-trash red-text"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.exp-square-unearned');
        console.log(elems);

        elems.forEach(function (elem, index) {
            elem.addEventListener('mouseover', function () {
                console.log('hovered');

                elem.classList.add('exp-square-level-pending');

                elems.forEach(function (e, i) {
                    if (i <= index) e.classList.add('exp-square-level-pending');
                });
            });

            elem.addEventListener('mouseout', function () {
                console.log('unhovered');

                elem.classList.remove('exp-square-level-pending');
                elems.forEach(function (elem) {
                    elem.classList.remove('exp-square-level-pending');
                });
            });
        });
    });
</script>