<div class="section">
    <h3>Player</h3>
    <p>ID: {{player._id}}</p>
    <p>Created At: {{formatDateTime player.createdAt}}</p>
    <form id="edit-player-form" data-method="PATCH" action="/players/player/{{player._id}}">
        <div class="input-field">
            <input id="name" name="name" type="text" value="{{player.name}}" required>
            <label for="name" class="active">Name</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Save Player</button>
    </form>

    <h4>Rosters</h4>
    <table class="striped responsive-table" id="items-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Gold</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {{#each rosters}}
            <tr>
                <td>{{{link this.name (concat '/rosters/roster/' this._id)}}}</td>
                <td>{{this.rating}}</td>
                <td>{{this.gold}}</td>
                <td>{{formatDateTime this.createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>