<div class="row roster-page">
    <div class="col s12 m12">
        <div class="card">
            <form id="roster-name-form" data-method="PATCH" action="/rosters/roster/{{roster._id}}">
                <div class="card-content">
                    <!-- Header Row: Player & Warband -->
                    <div class="row roster-row-spaced">
                        <div class="col s12 m3">
                            <div class="roster-hero-tile">
                                <i class="ra ra-double-team roster-hero-icon"></i>
                            </div>
                            <div class="roster-commander-block">
                                <span class="grey-text text-darken-2 roster-commander-label">Commander</span>
                                <span class="roster-commander-name">{{roster.player.name}}</span>
                            </div>
                        </div>
                        <div class="col s12 m9">
                            <div class="row roster-row-compact">
                                <div class="col s12">
                                    <div class="input-field roster-input-topless">
                                        <input id="roster-name" name="name" type="text" value="{{roster.name}}"
                                            required>
                                        <label for="roster-name" class="active">Roster Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row roster-row-none">
                                <div class="col s12">
                                    <div class="input-field roster-input-topless">
                                        <textarea id="description" name="description" class="materialize-textarea roster-description-field"
                                            rows="2">{{roster.description}}</textarea>
                                        <label for="description" class="active">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <div class="roster-divider"></div>

                    <!-- Campaigns Section -->
                    {{#if campaigns}}
                    <div class="row roster-row-spaced">
                        <div class="col s12">
                            <span class="roster-section-label">
                                Active Campaigns
                            </span>
                            <div class="roster-campaign-list">
                                {{#each campaigns}}
                                <a href="/campaigns/campaign/{{this._id}}" class="btn btn-small grey darken-2 roster-campaign-btn">
                                    {{this.name}}
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <div class="roster-divider"></div>
                    {{/if}}

                    <!-- Stats Row: Gold, Rating, Wealth -->
                    <div class="row roster-row-spaced">
                        <div class="col s12 m3">
                            <div class="roster-stat-card roster-stat-card-gold">
                                <span class="roster-stat-label roster-stat-label-gold">
                                    Available Gold
                                </span>
                                <span class="roster-stat-value roster-stat-value-gold">{{roster.gold}}</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="roster-stat-card roster-stat-card-wyrdstone">
                                <span class="roster-stat-label roster-stat-label-wyrdstone">Wyrdstone</span>
                                <span class="roster-stat-value roster-stat-value-wyrdstone">{{wyrdstoneCount}}</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="roster-stat-card roster-stat-card-rating">
                                <span class="roster-stat-label roster-stat-label-rating">Warband
                                    Rating</span>
                                <span class="roster-stat-value roster-stat-value-rating">{{wealth.rating}}</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="roster-stat-card roster-stat-card-updated">
                                <span class="roster-stat-label roster-stat-label-updated">Last
                                    Updated</span>
                                <span class="roster-updated-value">{{formatDateTime
                                    roster.updatedAt}}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <div class="roster-divider"></div>

                    <!-- Composition + Stockpile -->
                    <div class="row roster-row-none">
                        <!-- Warband Composition -->
                        <div class="col s12 m6 roster-panel-col">
                            <div class="roster-panel-heading">
                                <span class="roster-panel-title">Warband Composition</span>
                            </div>
                            <span class="roster-summary-line">{{heroCount}} &times; Heroes &nbsp;&bull;&nbsp; {{henchmanCount}} &times; Henchmen &nbsp;&bull;&nbsp; {{totalCount}} &times; Total Members</span>
                            <div class="roster-block roster-block-composition">
                                <div class="roster-block-section">
                                    <span class="roster-subtitle">{{memberCreateSetup.warbandName}}</span>
                                    {{#if memberCreateSetup.warbandTraits.length}}
                                    <div class="roster-traits-wrap">
                                        {{#each memberCreateSetup.warbandTraits}}
                                        <div class="roster-trait-chip">
                                            <div class="roster-trait-name">{{this.name}}</div>
                                            {{#if this.description}}
                                            <div class="roster-trait-description">{{this.description}}</div>
                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                </div>
                                <table class="roster-data-table">
                                    <tr>
                                        <th class="roster-th-unit">Unit</th>
                                        <th class="roster-th-cost">Cost</th>
                                        <th class="roster-th-count">*/Max</th>
                                    </tr>
                                {{#each memberCreateSetup.units}}
                                    <tr>
                                        <td class="roster-td-unit">
                                            {{#ifEq this.type 1}}
                                            <i class="ra ra-flat-hammer tooltipped" data-tooltip="Hero Unit Type"></i>
                                            {{else}}
                                            <i class="ra ra-gavel tooltipped" data-tooltip="Henchman Unit Type"></i>
                                            {{/ifEq}}
                                            {{this.parsedName}}
                                            {{#if this.parsedSubtype}}
                                            <i class="fa fa-fw fa-info-circle tooltipped roster-unit-info" data-position="top" data-tooltip="This is a special {{this.parsedSubtype}} version of this unit."></i>
                                            {{/if}}
                                        </td>
                                        <td class="roster-td-cost">
                                            {{this.gold}}g
                                        </td>
                                        <td class="roster-td-count">
                                            {{#ifEq this.maxCount 0}}{{this.currentCount}}/-{{else}}{{this.currentCount}}/{{this.maxCount}}{{/ifEq}}
                                        </td>
                                    </tr>
                                {{/each}}
                                </table>
                            </div>
                        </div>
                        <!-- Stockpile Inventory -->
                        <div class="col s12 m6 roster-panel-col">
                            <span class="roster-panel-title roster-panel-title-block">Stockpile</span>
                            <span class="roster-summary-line">{{#if stockpileGroups.length}}Total value: <strong>{{stockpileValue}}g</strong>{{else}}No items in stockpile{{/if}}</span>
                            <div class="roster-block roster-block-stockpile">
                                {{#if stockpileGroups.length}}
                                {{#each stockpileTypeSections}}
                                {{#if this.groups.length}}
                                <div class="roster-block-section">
                                    <span class="roster-subtitle">{{this.label}}</span>
                                    <table class="roster-data-table">
                                        {{#each this.groups}}
                                        <tr>
                                            <td class="roster-stockpile-qty">{{qty}}&times;</td>
                                            <td class="roster-stockpile-item"><a href="/items/item/{{item._id}}">{{item.name}}</a></td>
                                            <td class="roster-stockpile-price">{{item.gold}}g ea</td>
                                        </tr>
                                        {{/each}}
                                    </table>
                                </div>
                                {{/if}}
                                {{/each}}
                                {{else}}
                                <span class="grey-text roster-empty-hint">Empty - use Inventory to add items.</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row roster-row-none">
                        <div class="col s6">
                            {{#if roster.warband}}
                            <a href="#member-create-modal" class="btn-small green modal-trigger" title="Add Member">
                                <i class="fa fa-user-plus"></i>
                                </a>
                            {{else}}
                            <span class="tooltipped" data-tooltip="Required: Select Warband" data-position="top"
                                title="Add Member" tabindex="0" class="roster-inline-block">
                                <a class="btn-small green disabled" aria-disabled="true" href="#"
                                    onclick="return false;"><i class="fa fa-user-plus"></i></a>
                            </span>
                            {{/if}}
                            <a href="#content-modal" class="btn-small blue modal-trigger" title="Stockpile Inventory"
                                data-modal-url="/rosters/roster/{{roster._id}}/inventory"><i class="fa fa-archive"></i></a>
                            <a href="#content-modal" class="btn-small amber darken-2 modal-trigger" title="Gain Resource"
                                data-modal-url="/rosters/roster/{{roster._id}}/event/gainresource"><i class="fa fa-coins"></i></a>
                        </div>
                        <div class="col s6 right-align">
                            <div class="btn-area">
                                {{#if canEdit}}
                                <a href="/rosters/roster/{{roster._id}}" data-method="delete"
                                    class="btn waves-effect waves-light red" title="Delete roster">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <button class="btn waves-effect waves-light tooltipped" type="submit"
                                    data-tooltip="Save changes to this Roster!" data-position="top" title="Save roster">
                                    <i class="fa fa-save"></i>
                                </button>
                                {{else}}
                                <span class="grey-text roster-view-only"><i class="fa fa-lock"></i> View Only</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="roster-members-header">
                    <span class="card-title roster-card-title-tight">Members</span>
                    <div id="reorder-controls">
                        <button id="reorder-toggle" type="button" class="btn-small blue waves-effect waves-light"
                            title="Reorder Members">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                        <button id="reorder-save" type="button" class="btn-small green waves-effect waves-light"
                            style="display:none;" title="Save Order">
                            <i class="fa fa-save"></i>
                        </button>
                        <button id="reorder-cancel" type="button" class="btn-small grey waves-effect waves-light"
                            style="display:none;" title="Cancel">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="row roster-row-none" id="members-grid">
                    {{#each members}}
                    <div class="col s12 m12 l12 roster-member-col" data-member-id="{{this._id}}">
                        <div class="card z-depth-1 roster-member-card">
                            <div class="card-content roster-member-content">
                                <div class="roster-member-top">
                                    <div class="roster-member-id">
                                        <div class="reorder-handle roster-reorder-handle"
                                            title="Drag to reorder">
                                            <i class="fa fa-arrows-alt"></i>
                                        </div>
                                        <div>
                                            <a href="#content-modal" class="modal-trigger roster-member-link"
                                                data-modal-url="/members/member/{{this._id}}">{{this.name}}</a>
                                            <span class="grey-text text-darken-1 roster-member-subline">{{this.qty}}&times; {{this.unit.name}}</span>
                                        </div>
                                    </div>
                                    <div class="roster-member-values">
                                        <div class="roster-member-stack">
                                            {{#if this.hasLevelUpsAvailable}}
                                            <i class="fa fa-angles-up tooltipped roster-levelup-icon roster-highlight-icon" data-tooltip="{{this.levelUpsAvailableCount}} Level-up{{#ifCond this.levelUpsAvailableCount '>' 1}}s{{/ifCond}} Available" data-position="top"></i>
                                            {{/if}}
                                            {{> value_square label="Experience" value=this.wealth.experience}}
                                        </div>
                                        {{> value_square label="Gold" value=this.wealth.gold}}
                                        <div class="roster-member-stack">
                                            {{#if this.isTopRated}}
                                            <i class="fa fa-crown tooltipped roster-highlight-icon" data-tooltip="Highest rated member" data-position="top"></i>
                                            {{/if}}
                                            {{> value_square label="Rating" value=this.wealth.rating}}
                                        </div>
                                    </div>
                                </div>
                                <div class="roster-stats-wrap">
                                    {{> stat_square label="M" value=this.unit.m improved=this.unit.advance.m}}
                                    {{> stat_square label="WS" value=this.unit.ws improved=this.unit.advance.ws}}
                                    {{> stat_square label="BS" value=this.unit.bs improved=this.unit.advance.bs}}
                                    {{> stat_square label="S" value=this.unit.s improved=this.unit.advance.s}}
                                    {{> stat_square label="T" value=this.unit.t improved=this.unit.advance.t}}
                                    {{> stat_square label="W" value=this.unit.w improved=this.unit.advance.w}}
                                    {{> stat_square label="I" value=this.unit.i improved=this.unit.advance.i}}
                                    {{> stat_square label="A" value=this.unit.a improved=this.unit.advance.a}}
                                    {{> stat_square label="LD" value=this.unit.ld improved=this.unit.advance.ld}}
                                </div>
                                {{#if this.items}}
                                <div class="roster-member-section roster-member-section-divider">
                                    <div class="roster-member-section-row">
                                        <span class="roster-member-mini-label">Equipment</span><br />
                                        {{#each this.items}}
                                            <a class="tooltipped pill modal-trigger" href="#item-edit-modal" data-modal-target="#item-edit-modal" data-modal-url="/items/item/{{this._id}}"
                                            data-tooltip="{{formatItemTooltip this ../unit.s}}" data-position="top">{{{formatItemPill this ../unit.s}}}</a>
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                    {{#if this.hasSkillsOrInjuries}}
                                    <div class="roster-member-section-row">
                                        <span class="roster-member-mini-label">Skills & Injuries</span><br />
                                        {{#each this.unit.traits}}
                                        <a class="tooltipped pill" href="/items/item/{{this._id}}"
                                            data-tooltip="{{formatTraitTooltip this}}" data-position="top">{{{formatTraitPill this}}}</a>
                                        {{/each}}
                                        {{#each this.traits}}
                                        <a class="tooltipped pill" href="/items/item/{{this._id}}"
                                            data-tooltip="{{formatTraitTooltip this}}" data-position="top">{{{formatTraitPill this}}}</a>
                                        {{/each}}
                                        {{#each this.injuries}}
                                        <a class="tooltipped pill roster-pill-injury" href="/events/event/{{this._id}}"
                                            data-tooltip="{{#if this.details}}{{this.details.description}}{{else}}{{this.name}}{{/if}}" data-position="top">{{#if this.details}}{{this.details.label}}{{else}}{{this.name}}{{/if}}</a>
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                    {{#if this.items}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Events</span>
                <table class="striped tight-rows" id="roster-events-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Notes</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rosterEvents}}
                        <tr>
                            <td>{{formatEventType type}}</td>
                            <td>
                                {{#ifEq type 3}}
                                    {{#ifEq resource.type 1}}
                                        Gold x{{resource.quantity}}
                                    {{else}}
                                        {{#ifEq resource.type 2}}
                                            Wyrdstone x{{resource.quantity}}
                                        {{else}}
                                            {{name}}
                                        {{/ifEq}}
                                    {{/ifEq}}
                                {{else}}
                                    {{name}}
                                {{/ifEq}}
                            </td>
                            <td>{{description}}</td>
                            <td>{{formatDateTime createdAt}}</td>
                            <td class="center-align">
                                {{#if ../canEdit}}
                                <a href="/events/event/{{_id}}" class="tooltipped" data-method="delete"
                                    data-tooltip="Delete event" data-position="top" title="Delete Event">
                                    <i class="fa fa-trash red-text"></i>
                                </a>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="item-edit-modal" class="modal content-modal-window">
    <div class="modal-content">
        <div id="item-edit-modal-body" class="content-modal-body"></div>
    </div>
</div>

{{> member_create_inline_modal memberCreateSetup=memberCreateSetup}}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.3/Sortable.min.js"></script>
<script src="/js/member-create.js"></script>
<script>
    (function () {
        var sortable = null;
        var originalOrder = [];

        var grid = document.getElementById('members-grid');
        var btnToggle = document.getElementById('reorder-toggle');
        var btnSave = document.getElementById('reorder-save');
        var btnCancel = document.getElementById('reorder-cancel');

        function enterReorderMode() {
            originalOrder = Array.from(grid.children).map(function (el) { return el.dataset.memberId; });
            sortable = Sortable.create(grid, {
                animation: 150,
                handle: '.reorder-handle',
                ghostClass: 'reorder-ghost'
            });
            grid.querySelectorAll('.reorder-handle').forEach(function (h) { h.style.display = 'flex'; });
            btnToggle.style.display = 'none';
            btnSave.style.display = '';
            btnCancel.style.display = '';
        }

        function exitReorderMode(restore) {
            if (sortable) { sortable.destroy(); sortable = null; }
            grid.querySelectorAll('.reorder-handle').forEach(function (h) { h.style.display = 'none'; });
            if (restore) {
                originalOrder.forEach(function (id) {
                    var el = grid.querySelector('[data-member-id="' + id + '"]');
                    if (el) grid.appendChild(el);
                });
            }
            btnToggle.style.display = '';
            btnSave.style.display = 'none';
            btnCancel.style.display = 'none';
        }

        btnToggle.addEventListener('click', enterReorderMode);
        btnCancel.addEventListener('click', function () { exitReorderMode(true); });

        btnSave.addEventListener('click', function () {
            var payload = Array.from(grid.children).map(function (el, index) {
                return { id: el.dataset.memberId, order: index };
            });
            fetch('/members/reorder', {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            }).then(function (res) {
                if (!res.ok) throw new Error('Save failed');
                exitReorderMode(false);
                M.toast({ html: 'Order saved!', classes: 'green' });
            }).catch(function () {
                M.toast({ html: 'Failed to save order', classes: 'red' });
            });
        });
    }());
</script>