<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <form id="roster-name-form" data-method="PATCH" action="/rosters/roster/{{roster._id}}">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <div
                                style="width:100%; height:140px; display:flex; align-items:center; justify-content:center; background:#e3f2fd;">
                                <i class="ra ra-double-team" style="font-size:28px; color:#1565c0"></i>
                            </div>
                            <div style="margin-top:8px; text-align:center">
                                <div class="grey-text text-darken-1">{{roster.player.name}}</div>
                            </div>
                        </div>
                        <div class="col s9">
                            <div class="row">
                                <div class="col s4">
                                    <div class="input-field">
                                        <select id="warband" name="warband" required>
                                            {{#each warbands}}
                                                <option value="{{this._id}}" {{#ifCond this._id '==' ../roster.warband}}selected{{/ifCond}}>{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                        <label for="warband" class="active">Warband</label> 
                                    </div>
                                </div>
                                <div class="col s8">
                                    <div class="input-field">
                                        <input id="name" name="name" type="text" value="{{roster.name}}" required>
                                        <label for="name" class="active">Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s9">
                            <div class="row">
                                <div class="col s2">
                                    <div class="input-field">
                                        <input id="gold" name="gold" type="number" value="{{roster.gold}}" required>
                                        <label for="gold" class="active">Gold</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:0">
                        <div class="col s12">
                            <div class="input-field">
                                <textarea id="description" name="description" class="materialize-textarea" rows="2"
                                    style="min-height:48px">{{roster.description}}</textarea>
                                <label for="description" class="active">Description</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="rating" name="rating" type="number" value="{{wealth.rating}}" required>
                                <label for="rating" class="active">
                                    <i class="ra ra-podium" data-position="top" title="Rating"></i> Rating
                                </label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="gold" name="gold" type="number" value="{{wealth.gold}}" disabled>
                                <label for="gold" class="active">
                                    <i class="ra ra-gold-bar" data-position="top" title="Gold"></i> Gold (Value)
                                </label>
                            </div>
                        </div>
                    </div>
                    <span class="grey-text text-darken-1" style="margin-right:12px">
                        Last updated:
                        {{formatDateTime roster.updatedAt}}
                    </span>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row" style="margin-bottom:0">
                        <div class="col s6">
                            {{#if roster.warband}}
                                <a href="#popouts-modal" class="btn-small green modal-trigger" data-popout="/members/member/create?warband={{roster.warband}}&roster={{roster._id}}">Add Member</a>
                            {{else}}
                                <span class="tooltipped" data-tooltip="Required: Select Warband" data-position="top" title="Add Member" tabindex="0" style="display:inline-block">
                                    <a class="btn-small green disabled" aria-disabled="true" href="#" onclick="return false;">Add Member</a>
                                </span>
                            {{/if}}
                            <a class="btn-small blue" data-position="top" title="Inventory" href="/rosters/roster/{{roster._id}}/inventory">Inventory</a>
                        </div>
                        <div class="col s6 right-align">
                            <div class="btn-area">
                                <a href="/rosters/roster/{{roster._id}}" data-method="delete" class="btn waves-effect waves-light red"
                                    title="View roster"> 
                                    <i class="ra ra-tombstone"></i>
                                </a>
                                <button class="btn waves-effect waves-light tooltipped" type="submit" data-tooltip="Save changes to this Roster!" data-position="top" title="Save roster">
                                    <i class="ra ra-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Members</span>
                <table class="striped" id="members-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>#</th>
                            <th>Unit</th>
                            <th class="tooltipped center" data-tooltip="Movement" data-position="top" title="Movement">M</th>
                            <th class="tooltipped center" data-tooltip="Weapon Skill" data-position="top" title="Weapon Skill">WS</th>
                            <th class="tooltipped center" data-tooltip="Ballistic Skill" data-position="top" title="Ballistic Skill">BS</th>
                            <th class="tooltipped center" data-tooltip="Strength" data-position="top" title="Strength">S</th>
                            <th class="tooltipped center" data-tooltip="Toughness" data-position="top" title="Toughness">T</th>
                            <th class="tooltipped center" data-tooltip="Wounds" data-position="top" title="Wounds">W</th>
                            <th class="tooltipped center" data-tooltip="Initiative" data-position="top" title="Initiative">I</th>
                            <th class="tooltipped center" data-tooltip="Attacks" data-position="top" title="Attacks">A</th>
                            <th class="tooltipped center" data-tooltip="Leadership" data-position="top" title="Leadership">LD</th>
                            <th class="tooltipped center" data-tooltip="Rating" data-position="top" title="Rating">Rating</th>
                            <th class="tooltipped center" data-tooltip="Gold" data-position="top" title="Gold">Gold</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each members}}
                        <tr>
                            <td><a href="/members/member/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.qty}}</td>
                            <td>{{this.unit.name}}</td>
                            <td class="center">{{> stat_square value=this.unit.m improved=this.unit.advance.m}}</td>
                            <td class="center">{{> stat_square value=this.unit.ws improved=this.unit.advance.ws}}</td>
                            <td class="center">{{> stat_square value=this.unit.bs improved=this.unit.advance.bs}}</td>
                            <td class="center">{{> stat_square value=this.unit.s improved=this.unit.advance.s}}</td>
                            <td class="center">{{> stat_square value=this.unit.t improved=this.unit.advance.t}}</td>
                            <td class="center">{{> stat_square value=this.unit.w improved=this.unit.advance.w}}</td>
                            <td class="center">{{> stat_square value=this.unit.i improved=this.unit.advance.i}}</td>
                            <td class="center">{{> stat_square value=this.unit.a improved=this.unit.advance.a}}</td>
                            <td class="center">{{> stat_square value=this.unit.ld improved=this.unit.advance.ld}}</td>
                            <td class="center">{{this.wealth.rating}}</td>
                            <td class="center">{{this.wealth.gold}}</td>
                        </tr>
                        {{#if this.items}}
                            <tr>
                                <td colspan="14" style="padding-left:32px;">
                                    <strong>Equipment:</strong>
                                    {{#each this.items}}
                                        <a class="tooltipped pill" href="/items/item/{{this._id}}" data-tooltip="{{this.description}}">{{this.name}} ({{multiply this.gold ../this.qty}}g)</a>
                                    {{/each}}
                                    <strong>Skills:</strong>
                                    {{#each this.unit.traits}}
                                        <a class="tooltipped pill" href="/items/item/{{this._id}}" data-tooltip="{{this.description}}">{{this.name}}</a>
                                    {{/each}}
                                    {{#each this.traits}}
                                        <a class="tooltipped pill" href="/items/item/{{this._id}}" data-tooltip="{{this.description}}">{{this.name}}</a>
                                    {{/each}}
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>