<div class="section">
<h3>Units</h3>

<div class="row">
    <div class="col-8 col-md-8">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Units</span>
                <p>Manage units in your campaigns.</p>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Create Unit</span>
                {{> unit_form method="POST" action="/units/create" formId="create-unit-form"}}
            </div>
        </div>
    </div>
</div>

<table class="striped responsive-table" id="items-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Warband</th>
        <th>Experience</th>
        <th>Gold</th>
        <th>M</th>
        <th>WS</th>
        <th>BS</th>
        <th>S</th>
        <th>T</th>
        <th>W</th>
        <th>I</th>
        <th>A</th>
        <th>LD</th>
    </tr>
    </thead>
    <tbody>
    {{#each units}}
        <tr>
            <td><a href="/units/unit/{{this._id}}">{{this.name}}</a></td>
            <td>{{this.warband.name}}</td>
            <td>{{this.experience}}</td>
            <td>{{this.gold}}</td>
            <td>{{this.m}}</td>
            <td>{{this.ws}}</td>
            <td>{{this.bs}}</td>
            <td>{{this.s}}</td>
            <td>{{this.t}}</td>
            <td>{{this.w}}</td>
            <td>{{this.i}}</td>
            <td>{{this.a}}</td>
            <td>{{this.ld}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>

<script src="/js/players.js"></script>
