<div class="row">

    <div class="col s12 m12">
        
        <div class="card">
            <a href="/warbands" class="btn" style="margin-bottom: -10px;">
            <i class="fa fa-arrow-left fa-fw"></i> Warbands
        </a>
            <form id="warband-name-form" data-method="PATCH" action="/warbands/warband/{{warband._id}}">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <div
                                style="width:100%; height:140px; display:flex; align-items:center; justify-content:center; background:#e3f2fd;">
                                <i class="ra ra-double-team" style="font-size:28px; color:#1565c0"></i>
                            </div>
                            <div style="margin-top:8px; text-align:center">
                                <div class="grey-text text-darken-1">{{warband.roster.name}}</div>
                            </div>
                        </div>
                        <div class="col s9">
                            <div style="flex-grow:1">
                                <span class="card-title" style="margin:0">
                                    <div class="input-field">
                                        <input id="name" name="name" type="text" value="{{warband.name}}" required>
                                        <label for="name" class="active">Name</label>
                                    </div>
                                </span>
                                <div class="row">
                                    <div class="col s12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:0">
                        <div class="col s12">
                            <div class="input-field">
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field">
                                <textarea id="description" name="description" class="materialize-textarea" rows="2"
                                    style="min-height:48px">{{warband.description}}</textarea>
                                <label for="description" class="active">Description</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="gold" name="gold" type="number" value="{{warband.gold}}" required>
                                <label for="gold" class="active">
                                    <i class="ra ra-gold-bar"></i> Starting Gold
                                </label>
                            </div>
                        </div>
                        <div class="col s6">
                            {{> field_select_multi list=traitList selected=warband.traits id="traits" name="traits" label="Traits"}}
                        </div>
                        <div class="col s12">
                            {{> field_select_multi list=unitList selected=warband.units id="units" name="units" label="Units"}}
                        </div>
                    </div>
                    <span class="grey-text text-darken-1" style="margin-right:12px">
                        Last updated:
                        {{formatDateTime warband.updatedAt}}
                    </span>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row" style="margin-bottom:0">
                        <div class="col s6">
                            <a class="btn-small blue" href="/units/unit/{{unit._id}}/inventory">Inventory</a>
                        </div>
                        <div class="col s6 right-align">
                            <div class="btn-area">
                                <a href="/warbands/warband/{{warband._id}}/copy" data-method="post" class="btn waves-effect waves-light grey" title="Copy warband">
                                    <i class="fa fa-copy"></i>
                                </a>
                                <button id="delete-warband-btn" type="button" class="btn waves-effect waves-light red"
                                    title="Delete warband">
                                    <i class="ra ra-tombstone"></i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit">
                                    <i class="ra ra-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Units</span>
                <table class="striped responsive-table" id="units-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>M</th>
                            <th>WS</th>
                            <th>BS</th>
                            <th>S</th>
                            <th>T</th>
                            <th>W</th>
                            <th>I</th>
                            <th>A</th>
                            <th>LD</th>
                            <th>Experience</th>
                            <th>Gold</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each warband.units}}
                        <tr>
                            <td>
                                {{#ifCond this.type '==' '1'}}
                                    <i class="ra ra-flat-hammer tooltipped" data-tooltip="Hero Unit Type"></i>
                                {{/ifCond}}
                                {{#ifCond this.type '==' '2'}}
                                    <i class="ra ra-gavel tooltipped" data-tooltip="Henchman Unit Type"></i>
                                {{/ifCond}}
                            </td>
                            <td><a href="/units/unit/{{this._id}}">{{this.name}}</a></td>
                            <td>{{this.m}}</td>
                            <td>{{this.ws}}</td>
                            <td>{{this.bs}}</td>
                            <td>{{this.s}}</td>
                            <td>{{this.t}}</td>
                            <td>{{this.w}}</td>
                            <td>{{this.i}}</td>
                            <td>{{this.a}}</td>
                            <td>{{this.ld}}</td>
                            <td>{{this.experience}}</td>
                            <td>{{this.gold}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>